<div class="container">
    <div class="row">
        <div class="col-md-offset-5 col-md-3">
            <div class="form-login">
            <h2>Login</h2>
            <form (ngSubmit)="registerUser()">
                <div class="form-group">
                  <label for="username">Username:</label>
                  <input type="text"  class="form-control input-sm chat-input" id="username"
                         required
                         [(ngModel)]="user.userName" name="username">
                </div>
                <div class="wrapper">
                    <span class="group-btn"> 
                      <button type="submit" class="btn btn-primary btn-md">Login!<i class="fa fa-sign-in"></i></button>
                    </span>
                </div>  
            </form>          
            </div>
        </div>
    </div>
</div>
